
body {
  background-image: url("blur_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  font-family: 'Georgia', serif;
  color: lightgray;
  display: flex;
  justify-content: flex-end;
}

#text_content {
  height: 110vh;
  width: 30vw;
  padding-left: 20px;
  padding-top: 5px;

  text-align: left;
  
  background-color: rgb(180, 142, 10);
  border: 10px solid tan;
  box-shadow: 5px 5px 0 5px #e3cfb5, -5px -5px 0 5px #e3cfb5;
}
